#controls {
	width: 25%;
	min-width:150px;
	margin: 10px;
	margin-right: 25px;
	float: right;
	font-family: "Oswald";
}

.selector_header {
	padding-top: 0px;
	font-size: 20px;
}

#map-canvas {
	width: 65%;
    min-width: 700px;
    height: 600px;
    margin-left: 80px;
    float: left;
}

.title {
	font-size: 35px;
	text-align: center;
	font-family: "Oswald";
}
