#controls {
	width: 25%;
	min-width:150px;
	margin: 10px;
	margin-right: 25px;
	float: right;
	font-family: "Oswald";
}

#dist_slider {
    font-size: 25px;
}

#types {
    font-size: 20px;
}

.selector_header {
	padding-top: 0px;
	font-size: 25px;
}

#map-canvas {
	width: 65%;
    min-width: 700px;
    height: 600px;
    margin-left: 80px;
    float: left;
}

.title {
	font-size: 35px;
	text-align: center;
	font-family: "Oswald";
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}
