#controls {
	width: 25%;
	min-width:150px;
	margin: 20px;
	float: right;
}

.selector_header {
	padding-top: 10px;
	font-size: 20px;
}

#days {
	margin-bottom: 10px;
}

#map-canvas {
	width: 70%;
    min-width: 700px;
    height: 500px;
    float: left;
}

.title {
	font-size: 25px;
	text-align: center;
}